<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.colson.dal.dao.AttachmentEntityMapper">
  <resultMap id="BaseResultMap" type="com.colson.dal.model.AttachmentEntity">
    <!--@mbg.generated-->
    <!--@Table payment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fileName" jdbcType="VARCHAR" property="fileName" />
    <result column="prefix" jdbcType="VARCHAR" property="prefix" />
    <result column="fileUrl" jdbcType="VARCHAR" property="fileUrl" />
    <result column="roundId" jdbcType="INTEGER" property="roundId" />
    <result column="roundName" jdbcType="VARCHAR" property="roundName" />
  </resultMap>

  <select id="selectAttachmentList" resultMap="BaseResultMap">
    select
       a.id as id,
       a.file_name as fileName,
        a.prefix as prefix,
       a.file_url as fileUrl,
       er.id                                                              roundId,
       er.name                                                            roundName
from (select IFNULL(c.main_teach_unit_id, t.id)       AS teachUnitId,
             GROUP_CONCAT(DISTINCT t.id)              AS teachUnitIdStr,
             GROUP_CONCAT(DISTINCT t.teach_unit_name) AS teachUnitName
      from t_teach_unit t
               LEFT JOIN t_teach_unit_combine_detail c ON t.id = c.teach_unit_id AND c.delete_flag = 0
      where t.teach_type_code = 'Z'
        and t.status = 1
        and t.round_id in (
                           17434826,
                           17434837,
                           17434821,
                           17434843,
                           17434839,
                           17434824,
                           17434835,
                           17438969,
                           17438967,
                           17434705,
                           17434719,
                           17434707,
                           17434721,
                           17434703,
                           17434695,
                           17434709,
                           17434699,
                           17439047,
                           17434713,
                           17434697,
                           17434711,
                           17439062,
                           17438807,
                           17438968,
                           17434392,
                           17438970,
                           17434398,
                           17439046,
                           17434433,
                           17434445,
                           17434443,
                           17436808,
                           17438424,
                           17437189,
                           17435744,
                           17435746,
                           17435742,
                           17437145,
                           17437119,
                           17435259,
                           17435262,
                           17435258,
                           17435263,
                           17439049,
                           17434666,
                           17434638,
                           17434658,
                           17439064,
                           17438964,
                           17434564,
                           17434542,
                           17434578,
                           17438972,
                           17439065,
                           17434513,
                           17434515,
                           17434517,
                           17434519,
                           17439048,
                           17437180,
                           17436403,
                           17438975,
                           17439050,
                           17435320,
                           17435314,
                           17435312,
                           17439067,
                           17438971,
                           17436416,
                           17436420,
                           17437269,
                           17438963,
                           17435354,
                           17435359,
                           17439063,
                           17435356,
                           17435360,
                           17439051,
                           17437271,
                           17435353,
                           17435358,
                           17434394,
                           17434400,
                           17435318,
                           17434435,
                           17434402,
                           17434396,
                           17434390,
                           17439061,
                           17434431,
                           17434429,
                           17434441,
                           17434674,
                           17434640,
                           17434672,
                           17435261,
                           17434558,
                           17434572,
                           17434566,
                           17434737,
                           17434437,
                           17434656,
                           17434664,
                           17434738,
                           17436961,
                           17436962,
                           17434678,
                           17434642,
                           17435748,
                           17437182,
                           17435484,
                           17437165,
                           17435278,
                           17437150,
                           17437127,
                           17435270,
                           17435480,
                           17435272,
                           17435478,
                           17438009,
                           17434546,
                           17434833,
                           17435476,
                           17435274,
                           17438403,
                           17434388,
                           17435276,
                           17434701,
                           17434830,
                           17434521,
                           17434439,
                           17438398,
                           17434404,
                           17435357,
                           17434548,
                           17440540,
                           17433741,
                           17434895,
                           17434896,
                           17434897,
                           17434898,
                           17434901,
                           17434900,
                           17434899
          )
      group by teachUnitId) tu
         INNER JOIN t_teach_unit t on tu.teachUnitId = t.id
         INNER JOIN ent_round er on er.id = t.round_id and er.delete_flag = 0
         LEFT JOIN t_teach_unit_resource_rel nltu ON t.id = nltu.new_live_teach_unit_id AND nltu.delete_flag = 0
         LEFT JOIN t_attachment a on a.business_id = tu.teachUnitId;
  </select>

</mapper>